:root {
   --header_clr:#002f34;
   --white_clr:white;
   --gray_clr:#7f9799;
   --gray_font:#f2f4f5;
   --light_blue:#CBF7EE;
   --light_gray_heart:#c6c6c6;
}

.bg_clr {
   background-color: var(--header_clr);
   height: 72px;
}

.container {
   width: 80%;
   margin:0 auto;
}

.header_content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo a img {
   width: 88px;
   padding-top: 8px;
}

.right_nav {
   display: flex;
   align-items:center;
   flex-basis: 60%;
   justify-content: space-between;
}

.language a {
   color: var(--gray_clr);
   text-decoration: none;
   font-size: 14px;
}

.language a:last-child:before {
   content: "|" ;
   padding: 0px 10px;
   color: var(--gray_clr);
}

.language a:hover {
   color: var(--white_clr);
   text-decoration: underline;
}

.icon_heart {
   font-size: 21px;
}

.icon_heart a {
   color: var(--white_clr);
   text-decoration: none;
}

.icon_human {
   font-size: 21px;
}

.icon_human a {
   color: var(--white_clr);
   text-decoration: none;
}

.icon_human a:last-child {
   text-decoration: none;
   color: var(--white_clr);
   font-size: 18px;
   font-weight: bold;
   padding-left: 10px;
}

.post_advertisement input {
   color: var(--header_clr);
   background-color: var(--white_clr);
   font-weight: bold;
   font-size: 17px;
   border-radius: 5px;
   height: 50px;
   width: 200px;
   outline: none;
   cursor: pointer;
}

.post_advertisement input:hover {
   color: var(--white_clr);
   background-color: var(--header_clr);
   border: 5px solid var(--white_clr);
}

.burger-menu_toggle:checked ~ .burger-menu_content {
   display: block;
}

.burger-menu_toggle {
   width: 50px;
   height: 50px;
   opacity: 0;
   cursor: pointer;
   position: absolute;
}

.burger-menu_content {
   display: none;
   background-color: var(--gray_clr);
}

.burger-menu_content_item li {
   list-style: none;
}

.burger-menu_content_item li a {
   text-decoration: none;
   color: var(--white_clr);
   font-size: 20px;
}

.burger-menu_line {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 50px;
   height: 50px;
}

.burger-menu_line_item {
   width: 50px;
   height: 10px;
   background-color: var(--white_clr);
}

.post-advertisement input {
  color: var(--header_clr);
  background-color: var(--white_clr);
  font-weight: bold;
  font-size: 13px;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  outline: none;
}

.post-advertisement input:hover {
   color: var(--white_clr);
   background-color: var(--header_clr);
   border: 5px solid var(--white_clr);
}

.body_bgc {
   background-image: url("../img/photo_2020-08-31_19-52-06.jpg");
}

.main_content {
   display: flex;
   flex-direction: column;
}

.search_header {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   width:1100px;
   padding: 40px 0px 40px 0px;
   background-color: var(--gray_font);
   margin-top: 100px;

}

.advertising  p input  {
   padding: 25px 0px 25px 15px;
   width: 550px;
   font-size: 16px;
   border: none;
   outline: none;
}

.search_city p i {
   position: relative;
   left:15px;
   padding:25px 0px 25px 5px;
   background-color:var(white_clr);
}

.search_city p input{
   padding: 25px 0px 25px 45px;
   width: 300px;
   font-size: 16px;
   border: none;
   outline: none;
   margin-left: -19px;
}

.search p input{
   padding: 25px 0px 25px 25px;
   width: 90px;
   font-size: 16px;
   border: none;
   outline: none;
   font-weight: bold;
   margin-left: 2px;
}

.search input:hover {
   background-color: var(--header_clr);
}

.main_categories {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   background-color: var(--white_clr);
   width: 1100px;
   padding-top: 55px;
   padding-bottom: 55px;
   color: var(--header_clr);
   font-weight: 900px;
}

.title_text {
   font-size: 30px;
   padding-bottom: 50px;
   text-align: center;
}

.icon_navigation {
   display: inline-flex;
   width: 100%;
   justify-content: space-around;
}

.icon_nav img {
   width: 90px;
}

.icon_nav p {
   color: var(--header_clr);
   font-weight: bold;
   font-size: 14px;
   text-align: center;
}

.icon_nav p:hover {
   color: var(--white_clr);
   background-color: var(--header_clr);
   text-align: center;
}

.icon_nav_row2 {
   padding-top: 40px;
   display: inline-flex;
   width: 100%;
   justify-content: space-around;
}

.display_hidden{
   opacity: 0;
   width: 90px;
   height: 90px;
}

.wrapper_VIP_ad_cntnt {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   width: 1100px;
   background-color: var(--gray_font);
   padding-bottom: 55px;
}

.VIP_ad_content {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding-top: 55px;
   padding-bottom: 55px;
   background-color:var(--light_blue);
   width: 1050px;
   margin: 0 auto;
}

.icon_nav_VIP {
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
}

.icon_VIP {
   background-color: var(--white_clr);
   padding: 15px 15px 0px 15px;
   border-radius: 4px;
   margin-left: 15px;
}

.icon_VIP img{
   height: 140px;
   padding-bottom: 10px;
}

.icon_VIP:last-child {
   margin-right: 15px;
}

.icon_VIP a {
   text-decoration: none;
}

.icon_VIP a p {
   color: var(--header_clr);
   font-size: 17px;
   height: 40px;
}

.icon_VIP a p:hover {
   color: var(--white_clr);
   background-color: var(--header_clr);
}

.data_price  p {
   padding-top: 35px;
   color: var(--header_clr);
   font-size: 14px;
   padding-bottom: 6px;
}

.data_price  h5 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 17px;
   padding-bottom: 15px;
}

.data_price  h5 a i {
   font-size: 25px;
   color: var(--light_gray_heart);
}

.data_price  h5 a i:hover {
   color: black;
}

.all_advertisement input {
  color: var(--header_clr);
  background-color: var(--white_clr);
  font-weight: bold;
  font-size: 17px;
  border: 2px solid var(--header_clr);
  border-radius: 4px;
  height: 50px;
  width: 200px;
  margin-top: 40px;
  cursor: pointer;
}

.all_advertisement input:hover {
   border: 5px solid var(--header_clr);
   transition: ease-in-out .3s;
}

.about-olx {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 400px;
   width: 1100px;
   margin: 0 auto;
   background-color: var(--light_blue);
}

.about-olx p {
   padding: 5px 0px 5px 0px;
   text-align: center;
}

.about-olx img {
   height: 60px;
   background-color: var(--light_blue);
   padding-bottom: 30px;
}

.navigatoin-olx a {
  text-decoration: none;
}

.navigatoin-olx i {
   padding: 25px 15px 15px 15px;
   font-size: 40px;
   color: var(--gray_clr);
}

.FB:hover {
   color: royalblue;
}

.YT:hover {
   color: red;
}

.TW:hover {
   color: Turquoise;
}

.last-text {
   font-size: 12px;
}

.popular-sections {
   display: flex;
   justify-content: space-around;
   padding-top: 50px;
   margin: 0 auto;
   width: 1100px;
   height: 315px;
   background-color: var(--white_clr);
}

.sections-OLX img{
   padding-bottom: 25px;
}

.sections-OLX a{
   text-decoration: none;
   color: black;
   word-spacing: 3px;
}

.magnifying {
   width: 160px;
}

.request-OLX img {
   padding-bottom: 25px;
}

.request-OLX a{
  text-decoration: none;
  color: black;
  word-spacing: 3px;
}

.line {
   height: 1px;
   width: 1100px;
   margin: 0 auto;
   border: none;
   background-color: var(--header_clr);
 }

.footer {
   display: flex;
   justify-content: space-around;
   margin: 0 auto;
   height: 320px;
   width: 1100px;
   background-color: var(--white_clr);
   padding-top: 55px;
}

.nav-box_text li{
   list-style-type: none;
   cursor: pointer;
   color: var(--header_clr);
   font-size: 17px;
   font-weight: bold;
   padding-bottom: 8px;
}

.free_app {
   padding-top: 12px;
   color: var(--gray_clr);
   font-size: 14px;
   text-align: center;
}

.flag_box {
   display: flex;
   flex-direction: row;
}

.flag_box li {
   padding: 25px 12px 0px 0px;
   list-style-type: none;
   cursor: pointer;
   color: var(--gray_clr);
   font-size: 14px;
}
