@media (min-width:1274px) {
  .container {
   width: 95%;
 }

  .bg_color {
  text-align: center;
 }

 .in_one_line {
   text-align: center;
 }

 .navigation {
   text-align: center;
 }
}

@media (max-width:1273px) and (min-width:1201px) {
  .container {
   width: 90%;
 }

  .search {
    width: 490px;
 }

  .bg_color {
   text-align: center;
 }

  .choose_city select  {
    margin-left: 15px;
    width: 140px;
 }

  .icon ul li {
    margin-left: 30px;
 }

}

@media (max-width: 1200px) and (min-width: 992px) {
  .container {
   width: 95%;
 }

  .search {
     width: 380px;
  }

  .choose_city select  {
     margin-left: 15px;
     width: 140px;
  }

  .bg_color {
   text-align: center;
  }

  .icon ul li {
     margin-left: 20px;
  }

  .footer ul li a {
    font-size: 11px;
  }


  .footer ul:nth-last-child(2) {
     margin-left: 40px;
  }

  .prom2020 {
    width: 40%;
    text-align: right;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .container {
   width: 90%;
  }

  .search {
    width: 260px;
  }

  .bg_color {
  text-align: center;
  }

  .icon ul li {
    margin-left: 10px;
  }

  .icon ul li:first-child{
    display: none;
  }

  .icon ul li:nth-child(2){
    display: none;
  }

  .exit {
     margin-left: 10px;
  }

  .choose_city select  {
     margin-left: 15px;
     width: 120px;
  }

  .facebook {
    padding: 0px 78px 0px 10px;
  }

  .in_one_line ul:first-child {
    margin-left: px;
  }

  .in_one_line ul:nth-child(4) {
    margin-top: 45px;
  }

  .in_one_line ul:last-child {
    margin-top: 45px;
  }
}

@media (max-width:767px) and (min-width: 576px) {
  .top_header {
    display: none;
  }

  .container {
    width: 90%;
    text-align: center;
  }

  .left_nav {
    display: none;
  }

  .right_nav {
    float: none;
  }

  .right_nav ul li a {
    color:var(--white_clr);
    text-decoration:none;
    padding-left: 10px;
    font-size: 16px;
  }

  .search {
    width: 175px;
  }

  .bg_color {
  text-align: center;
  }

  .icon ul li {
    margin-left: 10px;
  }

  .icon ul li:first-child{
    display: none;
  }

  .icon ul li:nth-child(2){
    display: none;
  }

  .exit {
     margin-left: 10px;
  }

  .exit button {
     height: 37px;
     width:59px;
  }

  .in_one_line ul:last-child {
    display: none;
  }

  .in_one_line ul:nth-child(3) {
    margin-top: 35px;
  }

  .in_one_line ul:nth-child(4) {
    margin-top: 35px;
  }

  .choose_city select  {
     margin-left: 10px;
     width: 85px;
  }

  .prom_img img {
     width: 80px;
     height: 28px;
  }

  .facebook {
    padding: 0px 15px 0px 10px;
  }

  .prom2020 {
    width: 35%;
  }
}

@media (max-width:575px) {
  .container {
    width: 95%;
  }

  .top_header {
    display: none;
  }

  .right_nav {
    display: none;
  }

  .left_nav {
    display: none;
  }

  .burger-nav {
    display: block;
    padding: 10px 0px;
  }

  .container_for_navigation {
    padding: 0px;
  }

  .search {
    width: 120px;
    margin-left: 10px;
    font-size: 10px;
  }

  .button_magnifier {
     padding: 7px 0px 6px 0px;
     margin-left: -4px;
  }

  .bg_color {
  text-align: center;
  }

  .icon ul li:first-child{
    display: none;
  }

  .icon ul li:nth-child(2){
    display: none;
  }

  .icon ul li:last-child{
    display: none;
  }

  .exit {
     margin-left: 6px;
  }

  .exit button {
     height: 35px;
     width:45px;
     font-size: 11px;
  }

  .choose_city select  {
     display: none;
  }

  .prom_img img {
     width: 75px;
     height: 25px;
  }

  .footer {
    display: none;
  }

  .facebook {
    padding: 0px 5px 0px 5px;
  }

  .navigation {
    justify-content: space-around;
  }

  .prom2020 {
    display: none;
  }
}
