:root {
  --gradient_color_1:linear-gradient(to left, #edc142, #edc142);
  --gradient_color_2:linear-gradient(135deg,#39427f,#53165f);
  --gradient_color_3:linear-gradient(135deg,#4854a2,#772088);
  --white_clr:white;
  --gray_clr:gray;
}


.container{
  width: 1218px;
  margin:0 auto;
}


.top_header {
  background: var(--gradient_color_1);
  text-align: center;
  margin: 0;
}

.container_for_navigation {
  background: var(--gradient_color_2);
  margin-top: -4px;
  padding: 10.5px 0px;
}

.left_nav {
  display: inline-block;
  color: var(--white_clr);
}

.left_nav ul li {
  display: inline;
  padding-right: 35px;
}

.language  a {
    color: var(--white_clr);
    text-decoration: none;
}

.language a:focus {
  color: var(--gray_clr);
}

.help a {
  color: var(--white_clr);
  text-decoration: none;
}

.right_nav {
  float: right;
}

 .right_nav ul li a {
   color:var(--white_clr);
   text-decoration:none;
   float:right;
   padding-left: 35px;
}

 .right_nav ul li {
   list-style-type: none;
   display: inline-block;
 }

.bg_color {
  background: var(--gradient_color_3);
}

.img_btn {
  height: 56px;
  display: inline-block;
}

.prom_img img {
  width: 95px;
  height: 28px;
  padding-top: 14px;
}

.search_btn {
  display: inline-block;
  vertical-align: super;
}

.search_btn form {
  display: inline-block;
}

.search {
  margin-left: 18px;
  padding: 12px 0px 6px 0px;
  width: 567px;
  border: none;
}

.button_magnifier {
  padding: 12px 0px 6px 0px;
  width: 30px;
  margin-left: -4px;
  border: none;
}

.choose_city {
  display: inline-block;
  vertical-align: super;
}

.choose_city select  {
  padding: 12px 0px 5px 0px;
  border: none;
  margin-left: 19px;
  width: 160px;
  font-size: 13px;
  padding-left: 5px;
}

.icon {
  display: inline-block;
  vertical-align: super;

}

.icon ul li {
  list-style-type: none;
  margin-left: 40px;
  font-size: 20px;
  display: inline;
}

.icon ul li a {
font-size: 20px;
text-decoration: none;
}
